.back-none {
  background :    transparent !important;
  box-shadow :    none !important;
}

.no-space {
  margin-right :  0px !important;
}

.full-width {
  margin :        0 !important;
  border-radius : 0px !important;
}

.text-center {
  text-align :    center !important;
}

.text-left {
  text-align :    left !important;
}

.text-right {
  text-align :    right !important;
}

.t-white {
  color :         $color_1;
}

.t-red {
  color :         $red;
}
