// -- Main ---------------------------------------------------------------

$wrapper-width :   1200px; //Set to 'auto' for full-width pages
$gutter-side :     0px;
$gutter-top :      0px;
$transition :      all 0.2s ease-in-out 0s;
$line :            0px -2px 0px $red inset;
$lheight :         285px;
$darken :          50;

// -- Text ---------------------------------------------------------------

$headerh1 :        'Darko Miladinovikj';
$headerh2 :        'Hard Surface 3D Artist';
$link1 :           'Portfolio';
$link2 :           'Résumé';
$break :           '|';

// -- Thumbnail Tet ------------------------------------------------------

$thumb1 :          'Serbu Super Shorty Shotgun';
$thumb2 :          'Remington 1867 Navy Rolling Block Pistol';
$thumb3 :          'Glock 19 Gen 4';
$thumb4 :          'Steyr Scout';
$thumb5 :          'Overkill 2';
$thumb6 :          'Miscellaneous';
