%html#top
	%head
		%meta{:charset => "utf-8"}
			%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
			%link{:href => "../img/favicon/16x16.png", :rel => "icon", :type => "image/png", :sizes => "16x16"}
			%link{:href => "../img/favicon/32x32.png", :rel => "icon", :type => "image/png", :sizes => "32x32"}
			%link{:href => "../img/favicon/96x96.png", :rel => "icon", :type => "image/png", :sizes => "96x96"}
			%link{:href => "../img/favicon/144x144.png", :rel => "icon", :type => "image/png", :sizes => "144x144"}
			%title The Portfolio of Darko Miladinovikj
	%body
		.wrapper.text-center.back-none
			= Haml::Engine.new(File.read("_header.haml")).render

			.wrapper.text-center.back-none{:style => "padding-top: 50px;"}
				.row
					.col-12.grid.back-none
						%h1{:style => "font-size: 10rem;"} 403
				.row
					.col-12.grid.back-none.t-white
						%p{:style => "margin-top: -150px;"} Forbidden
