%html
	%head
		%meta{:charset => "utf-8"}
			%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
			%title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
	%body#top
		.wrapper.text-center.back-none
			.row
				.col-12.back-none.header
					%h1.title
					%h2.sub
					%nav
						%a.home{:href => "index"}
						%p.break /
						%a.resume{:href => "resume"}

			.wrapper.text-center.back-none{:style => "padding-top: 50px;"}
				.row
					.col-12.grid.back-none
						%h1{:style => "font-size: 10rem;"} 404
				.row
					.col-12.grid.back-none.t-white
						%p{:style => "margin-top: -150px;"} File not found
