.wrapper.text-center.back-none
  .row
    .col-12.back-none.footer
      %p Last update 02/29/2016
      %p Copyright © Darko Miladinovikj, unless otherwise stated
      %p
        E-mail:
        %a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
  .row
    .col-9.back-none.footer
    .col-3.back-none.footer.top
      %a{:href => "#top"} Back to top
