%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
  %body#top
    .wrapper.text-center.back-none
      .row
        .col-12.back-none.header
          %h1.title
          %h2.sub
          %nav
            %a.home{:href => "../index"}
            %p.break
            %a.resume{:href => "../resume"}

    %hr

      .wrapper.text-center.back-none
        .row
          .col-12.back-none.folio
            %h2 Glock 19 Gen 4
            %p Game asset I made intended for a modern first-person game use. Triangle count is at 6205 and it uses one 2048x2048 texture sheet (diffuse, normal, specular, gloss) with both the silencer and flashlight being in the same uv map as the rest. Rendered in Marmoset Toolbag 2.
        .row
          .col-12.back-none.folio
            %img{:src => "../img/glock/01.jpg"}
            %img{:src => "../img/glock/02.jpg"}
            %img{:src => "../img/glock/03.jpg"}
            %img{:src => "../img/glock/04.jpg"}
            %img{:src => "../img/glock/05.jpg"}
            %img{:src => "../img/glock/06.jpg"}
            %img{:src => "../img/glock/07.jpg"}
            %img{:src => "../img/glock/08.jpg"}
            %img{:src => "../img/glock/09.jpg"}
            %img{:src => "../img/glock/10.jpg"}
            %img{:src => "../img/glock/11.jpg"}


    .wrapper.text-center.back-none
      .row
        .col-12.back-none.footer
          %p Last update 12/12/2016
          %p Copyright © Darko Miladinovikj, unless otherwise stated
          %p
            E-mail:
            %a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
      .row
        .col-9.back-none.footer
        .col-3.back-none.footer{:style => "margin-top: -60px;"}
          %a{:href => "#top"} Back to top
