%html#top
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "../img/favicon/16x16.png", :rel => "icon", :type => "image/png", :sizes => "16x16"}
      %link{:href => "../img/favicon/32x32.png", :rel => "icon", :type => "image/png", :sizes => "32x32"}
      %link{:href => "../img/favicon/96x96.png", :rel => "icon", :type => "image/png", :sizes => "96x96"}
      %link{:href => "../img/favicon/144x144.png", :rel => "icon", :type => "image/png", :sizes => "144x144"}
      %title The Portfolio of Darko Miladinovikj
  %body
    .wrapper.text-center.back-none
      = Haml::Engine.new(File.read("_header.haml")).render

      .wrapper.text-center.back-none{:style => "padding-top: 50px;"}
        %h1 The 12 Column Grid
        %p
          By
          %a{:href => "http://oesterkilde.dk/"} Kevin Østerkilde
        .row
          .col-12.grid
            %p .col-12
        .row
          .col-6.grid
            %p .col-6
          .col-6.grid
            %p .col-6
        .row
          .col-4.grid
            %p .col-4
          .col-4.grid
            %p .col-4
          .col-4.grid
            %p .col-4
        .row
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
        .row
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
        .row
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
        .row
          .col-11.grid
            %p .col-11
          .col-1.grid
            %p .col-1
        .row
          .col-10.grid
            %p .col-10
          .col-2.grid
            %p .col-2
        .row
          .col-9.grid
            %p .col-9
          .col-3.grid
            %p .col-3
        .row
          .col-8.grid
            %p .col-8
          .col-4.grid
            %p .col-4
        .row
          .col-7.grid
            %p .col-7
          .col-5.grid
            %p .col-5
        .row
          .col-6.grid
            %p .col-6
          .col-6.grid
            %p .col-6
        .row
          .col-5.grid
            %p .col-5
          .col-7.grid
            %p .col-7
        .row
          .col-4.grid
            %p .col-4
          .col-8.grid
            %p .col-8
        .row
          .col-3.grid
            %p .col-3
          .col-9.grid
            %p .col-9
        .row
          .col-2.grid
            %p .col-2
          .col-10.grid
            %p .col-10
        .row
          .col-1.grid
            %p .col-1
          .col-11.grid
            %p .col-11


    = Haml::Engine.new(File.read("_footer.haml")).render
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
  %script{:src => "../js/scrolling.js"}
