%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
  %body#top
    .wrapper.text-center.back-none
      .row
        .col-12.back-none.header
          %h1.title
          %h2.sub
          %nav
            %a.home{:href => "../index"}
            %p.break
            %a.resume{:href => "../resume"}

      .wrapper.text-center.back-none{:style => "padding-top: 50px;"}
        %h1 The 12 Column Grid
        .row
          .col-12.grid
            %p .col-12
        .row
          .col-6.grid
            %p .col-6
          .col-6.grid
            %p .col-6
        .row
          .col-4.grid
            %p .col-4
          .col-4.grid
            %p .col-4
          .col-4.grid
            %p .col-4
        .row
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
          .col-3.grid
            %p .col-3
        .row
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
          .col-2.grid
            %p .col-2
        .row
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
          .col-1.grid
            %p .col-1
        .row
          .col-11.grid
            %p .col-11
          .col-1.grid
            %p .col-1
        .row
          .col-10.grid
            %p .col-10
          .col-2.grid
            %p .col-2
        .row
          .col-9.grid
            %p .col-9
          .col-3.grid
            %p .col-3
        .row
          .col-8.grid
            %p .col-8
          .col-4.grid
            %p .col-4
        .row
          .col-7.grid
            %p .col-7
          .col-5.grid
            %p .col-5
        .row
          .col-6.grid
            %p .col-6
          .col-6.grid
            %p .col-6
        .row
          .col-5.grid
            %p .col-5
          .col-7.grid
            %p .col-7
        .row
          .col-4.grid
            %p .col-4
          .col-8.grid
            %p .col-8
        .row
          .col-3.grid
            %p .col-3
          .col-9.grid
            %p .col-9
        .row
          .col-2.grid
            %p .col-2
          .col-10.grid
            %p .col-10
        .row
          .col-1.grid
            %p .col-1
          .col-11.grid
            %p .col-11


    .wrapper.text-center.back-none
      .row
        .col-12.back-none.footer
          %p Last update 12/12/2016
          %p Copyright © Darko Miladinovikj, unless otherwise stated
          %p
            E-mail:
            %a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
      .row
        .col-9.back-none.footer
        .col-3.back-none.footer{:style => "margin-top: -60px;"}
          %a{:href => "#top"} Back to top
