%html#top
	%head
		%meta{:charset => "utf-8"}
			%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
			%link{:href => "../img/favicon/16x16.png", :rel => "icon", :type => "image/png", :sizes => "16x16"}
			%link{:href => "../img/favicon/32x32.png", :rel => "icon", :type => "image/png", :sizes => "32x32"}
			%link{:href => "../img/favicon/96x96.png", :rel => "icon", :type => "image/png", :sizes => "96x96"}
			%link{:href => "../img/favicon/144x144.png", :rel => "icon", :type => "image/png", :sizes => "144x144"}
			%title The Portfolio of Darko Miladinovikj
	%body
		.wrapper.text-center.back-none
			= Haml::Engine.new(File.read("_header.haml")).render

		%hr

		.wrapper.text-center.back-none
			.row
				%a.col-8.img1{ :href => "../1911"}
				%a.col-4.img2{ :href => "../karambit"}
			.row
				%a.col-4.img3{ :href => "../1906"}
				%a.col-8.img4{ :href => "../rollingblock"}
			.row
				%a.col-8.img5{ :href => "../glock"}
				%a.col-4.img6{ :href => "../soccerball"}
			.row
				%a.col-4.img7{ :href => "../misc"}
				%a.col-8.img8
			.row
				%a.col-8.img9{ :href => "../devilsthird"}
				%a.col-4.img10{ :href => "../ok2"}

		= Haml::Engine.new(File.read("_footer.haml")).render
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
	%script{:src => "../js/scrolling.js"}
