%html
	%head
		%meta{:charset => "utf-8"}
			%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
			%title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
	%body#top
		.wrapper.text-center.back-none
			.row
				.col-12.back-none.header
					%h1.title
					%h2.sub
					%nav
						%a.home{:href => "../index"}
						%p.break
						%a.resume{:href => "../resume"}

		%hr

		.wrapper.text-center.back-none
			.row
				%a.col-8.img1{ :href => "../serbu"}
				%a.col-4.img2{ :href => "../rollingblock"}
			.row
				%a.col-4.img3{ :href => "../glock"}
				%a.col-8.img4{ :href => "../scout"}
			.row
				%a.col-8.img5{ :href => "../ok2"}
				%a.col-4.img6{ :href => "../misc"}

		.wrapper.text-center.back-none
			.row
				.col-12.back-none.footer
					= Haml::Engine.new(File.read("_footer.haml")).render
