%html#top
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "../img/favicon/16x16.png", :rel => "icon", :type => "image/png", :sizes => "16x16"}
      %link{:href => "../img/favicon/32x32.png", :rel => "icon", :type => "image/png", :sizes => "32x32"}
      %link{:href => "../img/favicon/96x96.png", :rel => "icon", :type => "image/png", :sizes => "96x96"}
      %link{:href => "../img/favicon/144x144.png", :rel => "icon", :type => "image/png", :sizes => "144x144"}
      %title The Portfolio of Darko Miladinovikj
  %body
    .wrapper.text-center.back-none
      = Haml::Engine.new(File.read("_header.haml")).render

    %hr

      .wrapper.text-center{:style => "padding-top: 50px;"}
        .row
          .col-12.back-none.exp
            %p My name is Darko Miladinovikj and I'm a hard surface 3D artist located in Skopje, Macedonia. I have over 4 years of professional experience working  in the video games industry and have worked on dozens of titles across all platforms. My specialty is weapons (more specifically firearms) and I have extensive knowledge on the subject making me the ideal candidate for anything gun-related. I strive to perfectly balance both speed and efficiency with every project. Over the years I have encountered various production pipelines with unique requirements am extremely quick to learn and adapt to any new workflows. I am available for offsite work and I am currently looking for an onsite position somewhere on the West Coast, US.
            %a{:href => "http://private.crash-3d.com/darko_miladinovikj_resume.pdf"} Download full resume (.pdf)
        .row.skills
          .col-2.back-none.folio.empty
          .col-3.back-none.folio
            %h3.t-red Technical Skills:
            %ul
              %li High-poly subdivision modeling
              %li Low-poly modeling / optimization / LOD creation
              %li Baking expertise
              %li Texturing (traditional, old-gen & physically correct)
              %li Basic experience using the latest PBR game engines (UE4, CE3)
          .col-2.back-none.folio.empty
          .col-3.back-none.folio
            %h3.t-red Software:
            %ul
              %li Autodesk 3D Studio Max
              %li Adobe Photoshop
              %li Marmoset Toolbag
              %li XNormal
              %li Quixel SUITE
              %li Substance Painter
              %li ZBrush
          .col-2.back-none.folio.empty
      .wrapper.text-left
        .row
          .col-11.back-none.exp
            %h3.t-red Work Experience:

            %h4
              July 2015 - August 2015
              %span Bohemia Interactive
            %p Weapon artist working on Dayz Standalone. Created several highly detailed assets for first person use.

            %h4
              April 2015 - ~
              %span Art Bully Productions
            %p Worked on several next-generation AAA titles with varying requirements including Call of Duty: Black Ops III, a VR (Virtual Reality) game which required  considerably more detail then your average game asset, and a few unannounced titles. All assets were held to the highest standards of the game industry.

            %h4
              January 2015 - March 2015
              %span Heroic Stand
            %p Worked as a Lead artist for a small independent studio. My responsibilities  included managing outsourced material,  creation of training videos to speed up the workflow of the team and production. We were assigned with creating next– generation PBR textures for several WW2 vehicles with engine-specific requirements.

            %h4
              December 2014
              %span IJC Development
            %p Did a single asset for an unofficial Killing Floor DLC titled “Project Santa”.  Made the UV maps and a diffuse-only texture for a weapon for first  person use.

            %h4
              September 2014 - December 2014
              %span Exis Interactive
            %p Hard surface artist for World of Tanks (Xbox One & PC). Worked on highly detailed WW2 vehicles with very strict specifications.

            %h4
              May 2014 - August 2014
              %span Liquid Development
            %p Hard surface artist for an unannounced AAA title. Created several assets which ranged from weapons for first person use to modular assets to props.

            %h4
              January 2014 - March 2014
              %span Shapefarm
            %p Weapon artist working on Devil’s Third (PC, Wii U). Created several highly detailed first person/ third person weapons.

            %h4
              2012 - 2014
              %span Craneballs Studios
            %p Weapon artist working on several mobile titles (over the span of 2 years) including Overkill 2, Overkill: Mafia, Overkill 3, Gun Master 3D, Gun Master 2 and Gun Master 3. Made dozens of low resolution weapons with different specs depending on the game. Textures were made using classic diffuse-only methods.
          .col-1.back-none.exp.text-center.empty
            %p.secret Made with <3 by Kevin Østerkilde

    = Haml::Engine.new(File.read("_footer.haml")).render
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"}
  %script{:src => "../js/scrolling.js"}
