%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
  %body#top
    .wrapper.text-center.back-none
      .row
        .col-12.back-none.header
          %h1.title
          %h2.sub
          %nav
            %a.home{:href => "../index"}
            %p.break
            %a.resume{:href => "../resume"}

      .wrapper.text-center{:style => "padding-top: 50px;"}
        .row
          .col-12.back-none.exp
            %p My name is Darko Miladinovikj and I'm a freelance 3D artist located in Skopje, Macedonia. I have roughly a year of professional experience working the game industry. I specialize in hard surface modeling/texturing stuff like weapons, vehicles, props etc. I am proficient with high/low-res modeling, baking, texturing and everything that goes in between. Im a quick learner and Im always open to new learning experiences to help me get my project done in time. I offer fair rates and am available for on and off-site work opportunities.
            %a{:href => "http://private.crash-3d.com/darko_miladinovikj_resume.pdf"} Download resume (PDF)
        .row
          .col-2.back-none.folio
          .col-3.back-none.folio
            %h3 Technical Skills:
            %ul
              %li High-poly subdivision modeling
              %li Low-poly modeling / optimization / LOD creation
              %li Basic sculpting skills
              %li Baking expertise
              %li Texturing
          .col-2.back-none.folio
          .col-3.back-none.folio
            %h3 Software:
            %ul
              %li Autodesk 3D Studio Max
              %li Adobe Photoshop
              %li XNormal
              %li Quixel Suite
              %li ZBrush (Basic)
          .col-2.back-none.folio
      .wrapper.text-center
        .row
          .col-12.back-none.exp
            %h3 Work Experience:
        .row
          .col-6.back-none.exp
            %p July 2013 - Craneballs Studios, LLC
            %p Freelance Weapon artist for an unannounced mobile game.
            %p I made a few low res weapon models with UV maps ready for in-house texturing.
          .col-6.back-none.exp
            %p October 2012 - June 2013 CSPromod Dev
            %p Weapon artist.
        .row
          .col-12.back-none.exp
            %hr{:style => "width: 50%;"}
        .row
          .col-6.back-none.exp
            %p July 2012 - October 2012 Craneballs Studios, LLC
            %p Freelance weapon artist for a mobile game called overkill 2.
            %p I did a dozen of low-res weapon models (with UV maps) with attachments to fit the game style.
          .col-6.back-none.exp
            %p 2011 - 2013
            %p Various contributions to mods and independent projects.


    .wrapper.text-center.back-none
      .row
        .col-12.back-none.footer
          %p Last update 12/12/2016
          %p Copyright © Darko Miladinovikj, unless otherwise stated
          %p
            E-mail:
            %a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
