%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
      %title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
  %body#top
    .wrapper.text-center.back-none
      .row
        .col-12.back-none.header
          %h1.title
          %h2.sub
          %nav
            %a.home{:href => "../index"}
            %p.break
            %a.resume{:href => "../resume"}

    %hr

      .wrapper.text-center.back-none
        .row
          .col-12.back-none.folio
            %h2 Remington 1867 Navy Rolling Block Pistol
            %p I'm a huge fan of 19th century weaponary. Here, I wanted to create a less common 19th century firearm where I replicate the case hardening (blue/brown colory stuff) on the metal while keeping in mind the process behind it. Triangle count is at around 3000 and it uses 1024x1024 texture sheets (diffuse, specular, normal & gloss). Rendered in Marmoset Toolbag 2.
        .row
          .col-12.back-none.folio
            %img{:src => "../img/rollingblock/01.jpg"}
            %img{:src => "../img/rollingblock/02.jpg"}
            %img{:src => "../img/rollingblock/03.jpg"}
            %img{:src => "../img/rollingblock/04.jpg"}
            %img{:src => "../img/rollingblock/06.jpg"}
            %img{:src => "../img/rollingblock/07.jpg"}
            %img{:src => "../img/rollingblock/08.jpg"}
            %img{:src => "../img/rollingblock/09.jpg"}


    .wrapper.text-center.back-none
      .row
        .col-12.back-none.footer
          %p Last update 12/12/2016
          %p Copyright © Darko Miladinovikj, unless otherwise stated
          %p
            E-mail:
            %a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
      .row
        .col-9.back-none.footer
        .col-3.back-none.footer{:style => "margin-top: -60px;"}
          %a{:href => "#top"} Back to top
