%html
	%head
		%meta{:charset => "utf-8"}
			%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%link{:href => "../css/style.css", :rel => "stylesheet", :type => "text/css"}
			%title The Portfolio of Darko Miladinovikj - Hard Surface 3D Artist
	%body#top
		.wrapper.text-center.back-none
			.row
				.col-12.back-none.header
					%h1.title
					%h2.sub
					%nav
						%a.home{:href => "../index"}
						%p.break
						%a.resume{:href => "../resume"}

			.wrapper.text-center.back-none{:style => "padding-top: 50px;"}
				.row
					.col-12.grid.back-none
						%h3 Work experience:
				.row
					.col-2.grid.back-none.t-white
						%p
					.col-4.grid.back-none.t-white
						%p January 2015 - March 2015 Heroic Stand
						%p Worked as Lead artist for a small independent studio. My responsibilities included managing outsourced material, creation of training videos to speed up the workflow of the team and production. We were assigned with creating next-generation PBR textures for several WW2 vehicles with engine-specific requirements.
					.col-4.grid.back-none.t-white
						%p April -~ Art Bully Productions
						%p Worked on several next-generation AAA titles with varying requirements. One included doing work for a VR (Virtual Reality) game which required considerably more detail than your average AAA game asset. All assets were held to the higest standards of the game industry.
					.col-2.grid.back-none.t-white
						%p


		.wrapper.text-center.back-none
			.row
				.col-12.back-none.footer
					%p Last update 12/12/2016
					%p Copyright © Darko Miladinovikj, unless otherwise stated
					%p
						E-mail:
						%a{:href => "mailto:darko@crash-3d.com"} darko@crash-3d.com
			.row
				.col-9.back-none.footer
				.col-3.back-none.footer{:style => "margin-top: -60px;"}
					%a{:href => "#top"} Back to top
